<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>insert</title>
</head>
<body>


  <h2>새로운 레스토랑 입력</h2>
  <div>
    <form>
      <div>
        <div>레스토랑 이름</div>
        <input id="name" type="text" name="name"/>
      </div>
      <div>
        <div>레스토랑 주소</div>
        <input id="address" type="text" name="address"/>
      </div>
      <div>
        <div>레스토랑 전화번호</div>
        <input id="tel" type="text" name="tel"/>
      </div>
      <input class="btn-submit" type="submit" value="레스토랑 입력">
    </form>
  </div>
</body>
</html>