<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>insert</title>
</head>
<body>


<h2>레스토랑 수정</h2>
<div>
    <form th:action="@{/restaurant/save/{id}(id=${restaurant.id})}" th:object="${restaurantModel}" method="post">
        <input type="hidden" name="method" value="put"/>
        <input type="hidden" th:value="${restaurant.id}" id="id">
        <div>
            <div>레스토랑 이름</div>
            <input id="name" type="text" name="name" th:value="${restaurant.name}"/>
        </div>
        <div>
            <div>레스토랑 주소</div>
            <input id="address" type="text" name="address" th:value="${restaurant.address}"/>
        </div>
        <div>
            <div>레스토랑 전화번호</div>
            <input id="tel" type="text" name="tel" th:value="${restaurant.tel}"/>
        </div>
        <div>
            <div>레스토랑 지역</div>
            <select class="form-select" id="zoneId" name="zoneId">
                <option value="">==지역 선택==</option>
                <th:block th:each="zone : ${zone}">
                    <option th:value="${zone.id}" th:text="${zone.name}"></option>
                </th:block>
            </select>
        </div>
        <div>
            <div>레스토랑 오픈 날짜</div>
            <input id="operateTime" type="text" name="operateTime" placeholder="Mon 10:00 - 21:00"/>
            <div>영업 시간이 요일에 따라 다르다면 "," 를 기준으로 작성해주세요</div>
        </div>


        <input class="btn-submit" type="submit" value="레스토랑 등록">
    </form>
</div>
</body>
</html>