@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(255, 255, 255);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-primary-review{
  color: #FFD700;
}

.text-gray200{
  color: #8c8c8c;
}

.text-half-star{
  position: relative;
  color: #FFD700;
  overflow: hidden;
  width: 50%;
  display: inline-block;
  height: 100%;
}

.logo {
  width: 100px;
  height: auto;
}

.heading6 {
  font-size: 16px;
  line-height: 24px;
}
